<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
    {% if name == "のぶりん" %}
    <h1>{{name}}のインターネット神様</h1>
    {% elif name %}
    <h1>{{name}}の神様</h1>
    {% else %}
    <h1>ただの神様</h1>
    {% endif %}
    
    <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>

    <img src="/static/images/internet_god.png" alt="神様">

    <!-- 簡単なフォームを追加 -->
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body">
        <input type="submit" value="Add">
    </form>

    <!-- 全dreamをタイトル：内容（作成日時）というフォーマットで表示 -->
    {% for dream in all_dream %}
    <p>{{dream.title}}：{{dream.body}}（{{dream.date}}）</p>
    {% endfor %}
    </body>
</html>