<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
    {% if name == "のぶりん" %}
    <h1>{{name}}のインターネット神様</h1>
    {% elif name %}
    <h1>{{name}}の神様</h1>
    {% else %}
    <h1>ただの神様</h1>
    {% endif %}
    
    <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>

    <img src="/static/images/internet_god.png" alt="神様">

    <!-- 追加のフォーム -->
    <form action="/add" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body">
        <input type="submit" value="Add">
    </form>

    <!-- 変更のフォーム -->
    <form action="/update" method="post" id="update">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="body" placeholder="body">
        <input type="submit" value="Update">
    </form>

    <!-- 削除のチェックボックス -->
    <form action="/delete" method="post" id="delete">
        <input type="submit" value="選択したお願いを削除">
    </form>
        <!-- 変更するレコードを指定するため、お願い一覧をラジオボタンに -->
        <!-- 削除するレコードを指定するため、お願い一覧をチェックボックスに -->
        <!-- フォームが入れ子構造になってうまく表示されなくなってしまうため、formタグを外に出して、formタグのid属性と、inputタグのform属性で紐付ける -->
        {% for dream in all_dream %}
        <div>
            <input type="radio" name="update" form="update" value={{dream.id}}>
            <input type="checkbox" name="delete" form="delete" value={{dream.id}}>
            {{dream.title}}：{{dream.body}}（{{dream.date}})
        </div>
        {% endfor %}

    </body>
</html>