<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
    {% if name == "のぶりん" %}
    <h1>{{name}}のインターネット神様</h1>
    {% elif name %}
    <h1>{{name}}の神様</h1>
    {% else %}
    <h1>ただの神様</h1>
    {% endif %}
    
    <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>

    <img src="/static/images/internet_god.png" alt="神様">
    {% for word in spell %}
    <p>{{word}}</p>
    {% endfor %}
    </body>
</html>